*{
  margin: 0;
}
body{
  font-family: 'Arimo', sans-serif;
}
.global{
  border: 3px solid #ecf0f1;
  height: 100%;
  width: 400px;
  margin-top: 100px;
  margin-left: 300px;
  background-color: #ffffff;
  border-radius: 10px;
}
.Paris{
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
}
.name{
  padding-top: 10px;
  margin-left: 30px;
}
.img{
  padding-left: 50px;
}
.température{
  display: flex;
  justify-content: flex-start;
  padding-bottom: 25px;
  background-color: #ffffff;
}
.vent{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.deg{
  padding-left: 100px;
}
.aire{
  display: flex;
  justify-content: flex-start;
  padding-top: 25px;
  padding-left: 40px;
  padding-bottom: 25px;
}
.aire1{
  display: flex;
  flex-direction: column;
}
.aire2{
  display: flex;
  justify-content: flex-end;
  padding-left: 80px;
}
.a1{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.a2{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.a3{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.soleil{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 45px;
  background: linear-gradient(-90deg,#0abde3,#54a0ff);
  background-position: center;
  background-size: cover;
  border-radius: 0px 0px 10px 10px;
}
.s1{
  display: flex;
  flex-direction: column;
}
.s2{
  display: flex;
  flex-direction: column;
}
.s3{
  display: flex;
  flex-direction: column;
}
.s4{
  display: flex;
  flex-direction: column;
}
.s1, .s2, .s3, .s4, h2, h3{
  padding-top: 10px;
  text-align: center;
}
